.heroInfo{
    display: flex;
    align-items: center;
    gap: 100px;
}

.heroInfo .lawyerImageWrapper{
    width: 467.71px;
    height: 467.71px;
    border-radius: 55px;
    display: flex;
    align-items: flex-end;
}

.heroInfo .lawyerImageWrapper img{
    width: 100%;
}