.teamWrapper{
    padding: 0px 154px;
    margin-top: 188px;
}

.teamHeading{
    color: #FFF;
    font-size: 54px;
    font-weight: 600;
    line-height: 143.023%; /* 77.232px */
    text-align: center;
}