.clientReviewWrapper{
    padding: 0px 150px;
    margin-top: 186px;
}

.clientReviewHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 104px;
}

.clientReviewHeading{
    width: 374px;
    height: 154px;
    color: #FFF;
    font-family: Inter;
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: 143.023%; /* 77.232px */
}